<!--  --> 

	<div id="page-wrap">

		<div id="headerTitulo">FACTURA DE VENTA</div>
		<div id="header">
				<!-- <h2 style="tex-align:center">Factura</h2>	 -->
		         <img id="imagen" style="float:left; margin-top: 33px;margin-left: 15px;" src="https://docs.google.com/uc?&id=0Bxr8kQLDYNz7NE9YWFNLUUZuWnM" width="300"/>
				<div style="float: right; text-align: center; margin-right: 50px;margin-top: 20px;">
						<ul class="menu">
							<li type="none">Carrera 6. No. 3B-25 B/ La Amistad</li>
							<li type="none">Nit. 98240005-2</li>
							<li type="none">La Hormiga Putumayo</li>
							<li type="none">Factura N°. <%= @bill.id %></li>
							<li type="none">Fecha: <%= @bill.date %></li>
						</ul>
				</div>

		</div>

		<br>
		<br>
		
		<div style="clear:both"></div>
		
		<div id="customer">



            <table id="meta">
                <tr>
                    <td class="meta-head">Factura #</td>
                    <td><div><%= @bill.id %></div></td>
                </tr>
                <tr>

                    <td class="meta-head">Fecha</td>
                    <td><div id="date"><%= @bill.date %></div></td>
                </tr>
                <tr>
                    <td class="meta-head">Total a Pagar</td>
                    <td><div class="due">$ <%= @bill.value %></div></td>
                </tr>

            </table>
		
		</div>
		
		<table id="items">
		
		  <tr>
      			<th>Nombre Producto</th>
				<th>Serial</th>
				<th>Garant&iacute;a en Meses</th>
				<th>Iva </th>
				<th>Valor </th>
		  </tr>
		  
	<% @bill.sale_products.each do |crePro| %>



		  <tr align="center" class="item-row">
		      <td class="description" >
		      		<div><%= crePro.inventory.product.name %></div>
		      </td>
		      <td class="item-name">
		      	<div><%= crePro.inventory.serial %></div>
		      </td>
		      <td>
		      	<div class="cost"><%= crePro.inventory.warranty %></div>
		      </td>
		      <td>
		      	<div class="qty"><%= crePro.inventory.iva %></div>
		      </td>
		      <td>
		      	<span class="price">$ <%= crePro.value %></span>
		      </td>
		  </tr>
		  
  	<% end %>
		  
		  <tr id="hiderow">
		    <td colspan="5"><a id="addrow"  title="Add a row">Modo de Pago</a></td>
		  </tr>
		<% @bill.pay_consigments.each do |payConsig| %>
  		<% #= pays_consignment = @bill.pay_consigments.sum(:value)  %>
			

		<% 
	    	if defined?(payConsig.id)
	
		%>	

		  <tr>
		      <td  class="blank">Consignacion </td>

		  </tr>
		  <tr>

		      <td  class="blank"> </td>
		      <td  class="">Numero de Registro </td>
		      <td colspan="3"  class="total-line"><%= payConsig.num_register %></td>
		  </tr>
<!-- 		  <tr>

		      <td  class="blank"> </td>
		      <td  class="">Tipo de Cuenta </td>
		      <td colspan="3"  class="total-line">Corriente</td>
		  </tr>	 -->
		  <tr>
		      <td  class="blank"> </td>
		      <td  class="">Nombre Depositante </td>
		      <td colspan="3"  class="total-line"><%= payConsig.name %></td>
		  </tr>
		  <tr>
		      <td  class="blank"> </td>
		      <td  class="">Fecha </td>
		      <td colspan="3"  class="total-line"><%= payConsig.date %></td>
		  </tr>	
		  <tr>
		      <td  class="blank"> </td>
		      <td  class="">Valor </td>
		      <td colspan="3"  class="total-line"><%= payConsig.value %></td>
		  </tr>		  	  		  	  
		  <tr>
		      <td colspan="4" class="blank"> </td>
		  </tr>
		  <tr>
		      <td colspan="4" class="blank"> </td>
		  </tr>


	<%

		else
			"Sin Pagos en consignacion"	
		end

	 end # ich de pagos en consignacion %>



<!-- MOdos de pago en efectivo -->
	<% @bill.pay_efectives.each do |payEfect| %>
				
		<%#= pay_effective = @bill.pay_efectives.sum(:value)  %>
			

		<% 
	    	if defined?(payEfect.id)
	
		%>	
		  <tr>
		      <td  class="blank">Efectivo </td>

		  </tr>
		  <tr>

		      <td  class="blank"> </td>
		      <td  class="">Valor </td>
		      <td colspan="3"  class="total-line"><%= payEfect.value %></td>
		  </tr>

		  <tr>
		      <td  class="blank"> </td>
		      <td  class="">Nombre Depositante </td>
		      <td colspan="3"  class="total-line"><%= payEfect.name %></td>
		  </tr>
		  <tr>
		      <td  class="blank"> </td>
		      <td  class="">Fecha </td>
		      <td colspan="3"  class="total-line"><%= payEfect.date %></td>
		  </tr>	
		  	  
		  <tr>
		      <td colspan="4" class="blank"> </td>
		  </tr>
		  <tr>
		      <td colspan="4" class="blank"> </td>
		  </tr>

	

		<%

			else
				"Sin Pagos en efectivo"	
			end

		 end # ich de pagos en efectivo %>
		
		</table>







	<% reg_client = @bill.clients.where(sale_id: @bill.id, :buyer => "true").first %>

	<div id="comprador" style="border-style:double;">
			<h3> Datos Comprador</h3>
		
				<% @bill.clients.each do |cliSal| %>
		
			<div style=" width:350px;border-style: double; display: inline-block;">
				<ul>				
					<li type="none" style=""><b>Nombre: </b> <%= cliSal.name %> .</li>
					<li type="none"><b>Telefono:</b> <%= cliSal.phone %></li>
					<li type="none"><b>C.C:</b> <%= cliSal.document %></li>
				</ul>

			</div>

			<div style=" width:350px;border-style: double;display: inline-block;">
				<ul>
					<% if defined? (cliSal.city) %>
						<li type="none"><b>Ciudad:</b>  <%= cliSal.city.name %></li>
					<% end %>
					<% if defined? (cliSal.neihborhood) %>
						<li type="none"><b>Barrio:</b>  <%= cliSal.neihborhood %></li>
					<% end %>
					<% if defined? (cliSal.address) %>
						<li type="none"><b>Direccion:</b> <%= cliSal.address %></li>
					<% end %>
				</ul>
			</div>			
				<% end %>

		</div><!--cierre div de comprador --> 









		
		<div id="terms">
		  <h5>Terminos</h5>
		  <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
		</div>
	
	</div>
	
