<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
  			<%= stylesheet_link_tag 'touchTouch.css' %>
  			<%= stylesheet_link_tag 'file.css' %>
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<!--
				<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/touchTouch.css" type="text/css" media="screen">
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
		<!--[if lt IE 8]>
		  	<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
		 	<![endif]-->
			<!--[if (gt IE 9)|!(IE)]><!-->
			<!--<![endif]-->
			<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	  	<![endif]-->
	</head>
	<div class="bg-content">       
<!--============================== content =================================-->      
		<div id="content">
			<div class="ic">
				More Website Templates @ TemplateMonster.com. November19, 2012!
			</div>
	    	<div class="container">
	        	<div class="row">
	        		<article class="span12">
	        			<h3>Blog</h3>
	         		</article>
	        		<div class="clear"></div>
	         		<ul class="portfolio clearfix">           
	          			<li class="box" align="center">
	          				<a href="img/image-blank.png" class="magnifier" >
	          					<%= image_tag("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc1/395491_109949465794422_1982160421_n.jpg", :class => "divCategoriaBlog") %>
	          				</a>
	          				<a href="img/image-blank.png"><b>Neveras</b></a>
	          			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/s720x720/404751_109976465791722_1196305276_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Rockola</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/397108_113674488755253_220797118_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Ventiladores</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/s720x720/408053_109854325803936_267256688_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 22</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/s720x720/420723_122222921233743_1195869714_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 232</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/529626_162555183867183_873150819_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 632</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/s720x720/403676_124746317648070_2128456877_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW</b></a>
	           			</li> 
	          	 		<li class="box" align="center">
	          	 			<a href="img/image-blank.png" class="magnifier" >
	          	 				<%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/s720x720/398432_124746054314763_1350814508_n.jpg", :class => "divCategoriaBlog" ) %>
	          	 			</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW con marco </b></a>
	          	 		</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/s720x720/399890_124746204314748_1388213707_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW con marco </b></a>
	           			</li> 
	          			<li class="box" align="center">
	          				<a href="img/image-blank.png" class="magnifier" >
	          					<%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/q71/s720x720/999063_387243084731724_732117367_n.jpg", :class => "divCategoriaBlog") %>
	          				</a>
	          				<a href="img/image-blank.png"><b>PC portatil 14" lenovo</b></a>
	          			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash4/q71/s720x720/998737_387243181398381_1082700635_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>PC 18" lenovo todo en uno</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/q71/s720x720/970020_387243104731722_799633685_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>PC portatil sony vaio 14" </b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/s720x720/408053_109854325803936_267256688_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 22</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/s720x720/420723_122222921233743_1195869714_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 232</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/529626_162555183867183_873150819_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Sala 632</b></a>
	           			</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/s720x720/403676_124746317648070_2128456877_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW</b></a>
	           			</li> 
	          	 		<li class="box" align="center">
	          	 			<a href="img/image-blank.png" class="magnifier" >
	          	 				<%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/s720x720/398432_124746054314763_1350814508_n.jpg", :class => "divCategoriaBlog" ) %>
	          	 			</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW con marco </b></a>
	          	 		</li> 
	           			<li class="box" align="center">
	           				<a href="img/image-blank.png" class="magnifier" >
	           					<%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash4/s720x720/399890_124746204314748_1388213707_n.jpg", :class => "divCategoriaBlog" ) %>
	           				</a>
	          				<a href="img/image-blank.png"><b>Bicicleta GW con marco </b></a>
	           			</li> 
	            	</ul> 
	      		</div>
	        </div>
	  	</div>
	</div>

