<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contacto</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
  			<%= javascript_include_tag 'forms.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
        <%= stylesheet_link_tag 'file.css' %>
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<!--
			<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
			<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
			<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
		<!--[if lt IE 8]>
		  	<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
		 	<![endif]-->
			<!--[if (gt IE 9)|!(IE)]><!-->
			<!--<![endif]-->
			<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	  	<![endif]-->
	</head>	
		<div class="loader"></div>
	
	<div class="bg-content">       
<!--============================== content =================================-->      
	    <div id="content">
	   		<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
		    <div class="container">
		    	<div class="row">
		        	<article class="span8">
		            	<h3>Contactanos</h3>
		            	<div class="inner-1">
		           			<%= form_tag (publics_create_message_path) do%>
		  						<div class="control-group">
		    						<%= label_tag "Nombre: "%>
		    						<div class="controls">
		      							<%= text_field_tag "name"%>
		      							<input name="name1" type="hidden" value=""/>
		    						</div>
		    					</div>	
		  						<div class="control-group">
		    						<%= label_tag "Teléfono: "%>
		    						<div class="controls">
		      							<%= text_field_tag "phone"%>
		    						</div>
		    					</div>
				  				<div class="control-group">
		    						<%= label_tag "Correo Electrónico: "%>
		    						<div class="controls">
		      							<%= email_field_tag "email"%>
		      							<input name="email_p" type="hidden" value=""/>
		    						</div>
		    					</div>
				  				<div class="control-group">
		    						<%= label_tag "Motivo: "%>
		    						<div class="controls">
		      							<%= text_field_tag "reason"%>
		    						</div>
		    					</div>
		  						<div class="control-group">
		    						<%= label_tag "Mensaje: "%>
		    						<div class="controls">
		      							<%= text_area_tag "message" , nil, size: "25x10"%>
		      							<input name="message_r" type="hidden" value=""/>
		    						</div>
		    					</div>
				    			<div align="left">
		    						<button type="submit">enviar</button>
		            			</div>
				            <% end %>
		          		</div>
		            </article>
		        	<article class="span4">
		            	<h3>Informacion de contacto</h3>
		              	<div class="map">
		            		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7979.420657804882!2d-76.9059055!3d0.42155739999998953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e284342c53b6cd3%3A0xd3936cf631aefa0d!2sCarrera+6+%23+3%2C+Valle+Del+Guamuez+(La+Hormiga)%2C+Putumayo%2C+Colombia!5e0!3m2!1ses-419!2ses!4v1415082305605" width="600" height="450" frameborder="0" style="border:0"></iframe>
		          		</div>
		              	<address class="address-1">
		          			<strong>Creditos Melendez<br>
								La Hormiga, Putumayo, Colombia<br>
								Ciudad actual
							</strong>
		          			<div class="overflow"> <span>Telefono:</span>4287194<br>
		                		<span>E-mail:</span> <a href="#" class="mail-1">angisellita77@hotmail.com</a><br>
		                		<span>Facebook:</span> <a href="#" class="mail-1">www.facebook.com/creditosmelendez.lahormigaptyo</a>
		                	</div>
		          		</address>
		            </article>
		      	</div>
			</div>
  		</div>
    </div>