<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Portafolio</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
        <%= stylesheet_link_tag 'file.css' %>
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<!--
				<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
		<!--[if lt IE 8]>
		  	<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
		 	<![endif]-->
			<!--[if (gt IE 9)|!(IE)]><!-->
			<!--<![endif]-->
			<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	  	<![endif]-->
	</head>
	<div class="bg-content">       
<!--============================== content =================================-->      
   <div id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">         
          <ul class="list-blog">
            <li>  
            <h3>Accede a un Crédito Ya!!</h3>     
            <time datetime="2012-11-09" class="date-1">9.11.2012</time>
            <div class="name-author">por <a href="#">Admin</a></div>
            <a href="#" class="comments">11 comentarios</a> 
            <div class="clear"></div>            
              <%= image_tag("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-frc3/988689_396234607165905_747159435_n.jpg" ) %>                               
              <p>
              	El Crédito de Consumo que te ofrece Créditos Melendez es un préstamo 
              	con financiación a corto o mediano plazo que te brinda la facilidad 
              	de financiar tus necesidades...
	          </p>
              <a href="#" class="btn btn-1">Leer Mas</a>          
            </li>  
                        
            <li>  
            <h3>Crea Tu Sala A Tu Imaginacion!!</h3>     
            <time datetime="2012-11-08" class="date-1">8.11.2012</time>
            <div class="name-author">por <a href="#">Admin</a></div>
            <a href="#" class="comments">9 comentarios</a> 
            <div class="clear"></div>            
              <%= image_tag("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/1157574_393306314125401_299261053_n.jpg" ) %>                               
              <p>Te escuchamos y creamos cualquier tipo de mueble o encer que hallas 
              	imaginado alguna vez para tu casa, habitacion, o simplemente decoracion.
              	Muebleria; armarios, closet, cama cunas, mezas de centro, 
              	juegos de salas en (L) y poltronas NO LO PIENSES MAS...
              </p>
              <a href="#" class="btn btn-1">Leer Mas</a>          
            </li> 
                                 
          </ul>
          </div>  
        </article>
        <article class="span4">
          <h3 class="extra">Buscar</h3>
          <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
            <div class="clearfix">
              <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
              <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1">Search</a> </div>
          </form>
          <h3>Categorias</h3>
          <ul class="list extra extra1">           
            <li><a href="#">Electrodomesticos</a></li>
            <li><a href="#">Portatiles</a></li>
            <li><a href="#">Muebleria</a></li>
            <li><a href="#">Bicicletas</a></li>
            <li><a href="#">Creditos</a></li> 
      </ul>
          <h3>Archivo</h3>
         <div class="wrapper">
          <ul class="list extra2 list-pad ">
            <li><a href="#">Noviembre 2013</a></li>
            <li><a href="#">Octubre 2013</a></li>
            <li><a href="#">Septiembre 2013</a></li>
            <li><a href="#">Agosto 2013</a></li>
            <li><a href="#">Julio 2013</a></li>
            <li><a href="#">Junio 2013</a></li>
          </ul>
            <ul class="list extra2">
            <li><a href="#">Mayo 2013</a></li>
            <li><a href="#">Abril 2013</a></li>
            <li><a href="#">Marzo 2013</a></li>
            <li><a href="#">Febrero 2013</a></li>
            <li><a href="#">Enero 2013</a></li>
            <li><a href="#">Diciembre 2012</a></li>
          </ul>
          
          </div>
        </article>
      </div>
     </div>
  </div>
 </div>