<%= content_for :extra_js do %>
  <%#= javascript_include_tag '1.js' %>
 
<% end %>

<%= content_for :extra_css do %>
  <%= stylesheet_link_tag 'file.css' %>
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'responsive.css' %>
  <%= stylesheet_link_tag 'style.css' %>
  <%= stylesheet_link_tag 'touchTouch.css' %>
  <%= stylesheet_link_tag 'kwicks-slider.css' %>

<!--   <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/touchTouch.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/kwicks-slider.css" type="text/css" media="screen"> -->
<% end %>



    <div class="spinner"></div> 
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 
        <!--============================== slider =================================-->
        <div class="flexslider">
          <ul class="slides">
            <li> <%= image_tag("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn2/q71/s720x720/970191_358277107628322_924580546_n.jpg" ) %> </li>
             
             <li><%= image_tag("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/q71/s720x720/526457_396112437178122_286328035_n.jpg") %></li>

            <li> <%= image_tag("http://www.promodescuentos.com/sites/default/files/pictures/ofertas/liverpool27ene.jpg" ) %> </li>
        
            <li> <%= image_tag("http://www.samsung.com/co/system/news/content/2008/10/30/11250/maraton_large.jpg" ) %> </li>

            <li> <%= image_tag("http://www.coomultrasan.com.co/imagenes//uploads/noti_883dd4c458c2a4c021f0855ef1e09c9c.jpg" ) %> </li>

            <li> <%= image_tag("https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash4/s720x720/404970_107621162693919_918678229_n.jpg" ) %> </li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>Arma tu Hogar!</h2>
              <div>
            <p><a href="http://blog.templatemonster.com/free-website-templates/ " target="_blank" class="link-1">Creditos Aquí</a> Conoce nuestro sistema de créditos. Amobla tu hogar con todo lo que necesitas. Ayudaremos a que encuentres todo lo necesario   </p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!--============================== content =================================-->
      
      <div id="content" class="content-extra"><div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
    <div class="row-1">
          <div class="container">
        <div class="row">
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Cocina</h3>
                <!-- <img  src="img/page1-img1.jpg" alt=""> -->
            	<%= image_tag("http://images.quebarato.co.cr/T440x/combo+electrodomesticos+cocina+cartago+cartago+costa+rica__57C390_1.jpg", :class => 'imgCategoriaIndex' ) %> 

                <section> <strong>At vero eos et accusamus et iusto </strong>
                      <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Electrodomésticos</h3>
                <!-- <img  src="img/page1-img2.jpg" alt=""> -->
            	<%= image_tag("http://ahorrarluzygas.com/wp-content/uploads/2013/04/Electrodomesticos1.jpg", :class => 'imgCategoriaIndex' ) %> 

                <section> <strong>Deleniti atque corrupti quos</strong>
                      <p>Dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Muebles</h3>
                <!-- <img  src="img/page1-img3.jpg" alt=""> -->
            	<%= image_tag("http://us.123rf.com/400wm/400/400/stoyanh/stoyanh1101/stoyanh110100083/8738722-muebles-de-hogar-y-oficina.jpg", :class => 'imgCategoriaIndex' ) %> 

                <section> <strong>Similique sunt in culpa qui officia </strong>
                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">Combos</h3>
                
            	<%= image_tag("http://www.diproelsac.com/1492-large_default/combo-peruano-01.jpg", :class => 'imgCategoriaIndex' ) %> 

                <section> <strong>Similique sunt in culpa qui officia</strong>
                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="row">
        <article class="span6">
              <h3>Conócenos</h3>
              <div class="wrapper">
            <figure class="img-indent">
            	<!-- <img src="img/page1-img5.jpg " alt="" /> -->
            	<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGVLOBZmBGTgp7ZPsUH4E87ZBmVXGXBKPx_Ns0Aph2OOiEIo_PQLWmu78" ) %> 

            </figure>
            <div class="inner-1 overflow extra">
                  <div class="txt-1">Sed ut perspictis unde omnis natus error volupatem accusantium doloue laudantium, totam rem.</div>
                  Aperiam, eaque ipsa quae ab illo  veritatis et beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                  <div class="border-horiz"></div>
                  <div class="overflow">
                <ul class="list list-pad">
                      <li><a href="#">Campaigns</a></li>
                      <li><a href="#">Portraits</a></li>
                      <li><a href="#">Fashion</a></li>
                      <li><a href="#">Fine Art</a></li>
                    </ul>
                <ul class="list">
                      <li><a href="#">Advertising</a></li>
                      <li><a href="#">Lifestyle</a></li>
                      <li><a href="#">Love story</a></li>
                      <li><a href="#">Landscapes</a></li>
                    </ul>
              </div>
                </div>
          </div>
            </article>
        <article class="span6">
              <h3>Productos recientes</h3>
              <ul class="list-photo">
                <li><a href="/assets/image-blank.png" class="magnifier" >
                	<%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1752372_1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>
                
                <li><a href="/assets/image-blank.png" class="magnifier" >
                	   <%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1681426_1.jpg", :class => 'imgProducto') %> 
                    </a></li>

                <li class="last"><a href="img/image-blank.png" class="magnifier" >
                                  <%= image_tag("http://www.decorahoy.com/wp-content/uploads/2008/09/electrolux.jpg", :class => 'imgProducto') %> 
                  </a></li>
                <li class="last"><a href="/assets/image-blank.png" class="magnifier" >
            	                     <%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1738961_1.jpg", :class => 'imgProducto' ) %> 
                  </a></li>
                <li><a href="/assets/image-blank.png" class="magnifier" >
                	     <%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1705838_1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>
                <li><a href="/assets/image-blank.png" class="magnifier" >
                      <%= image_tag("http://www.domoking.com/wp-content/uploads/2009/01/ecosmart-zeta-1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>

                <li><a href="/assets/image-blank.png" class="magnifier" >
                    	<%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1779457_1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>
                <li><a href="/assets/image-blank.png" class="magnifier" >
                      <%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1794017_1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>
                <li><a href="/assets/image-blank.png" class="magnifier" >
                      <%= image_tag("http://www.olimpica.com.co/recursos/TiendaVirtualWEB/prods/1774454_1.jpg", :class => 'imgProducto' ) %> 
                    </a></li>



            
            
            <!-- <li class="last"><a href="/assets/image-blank.png" class="magnifier" >
            	<img src="img/page1-img17.jpg " alt="" />
            	<%= image_tag("/assets/page1-img17.jpg" ) %> 
            </a></li> -->
          </ul>
            </article>
      </div>
        </div>
  </div>
    </div>