<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Servicios</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
  			<%= stylesheet_link_tag 'file.css' %>  
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<!--
				<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
		<!--[if lt IE 8]>
		  	<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
		 	<![endif]-->
			<!--[if (gt IE 9)|!(IE)]><!-->
			<!--<![endif]-->
			<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	  	<![endif]-->
	</head>
	<body>
		<!-- <div class="spinner"></div> -->
		<div class="loader"></div>
		<div class="bg-content"> 
<!--============================== content =================================-->
			<div id="content">
				<div class="ic">
					More Website Templates @ TemplateMonster.com. November19, 2012!
				</div>
				<div class="container">
          			<div class="row">
        				<article class="span12">
              				<h3>Servicios</h3>
            			</article>
        				<div class="clear"></div>
        				<ul class="thumbnails thumbnails-1 list-services">
              				<li class="span4">
            					<div class="thumbnail thumbnail-1"> <%= image_tag("http://i.istockimg.com/file_thumbview_approve/20875510/2/stock-photo-20875510-electronics-shopping.jpg", :class => "divCategoriaservice" ) %>
	                  				<section> 
	                  					<a href="#" class="link-1">Creditos</a>
	                					<p class="textCategoriaservice">
											Solucione con un préstamo de dinero en efectivo rápidamente  
											salga de las deudas de una forma cómoda y eficiente.											
	                					</p>
						            </section>
                				</div>
          					</li>
              				<li class="span4">
            					<div class="thumbnail thumbnail-1"> 
            						<%= image_tag("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/q71/s720x720/1157574_393306314125401_299261053_n.jpg", :class => "divCategoriaservice" ) %>
				                  	<section> 
				                  		<a href="#" class="link-1">
				                  			Fabricantes de mueblerias 
				                  		</a>
						                <p class="textCategoriaservice">
							                Muebleria; armarios, closet, cama cunas, mezas de centro, juegos de salas en (L) 
							                y poltronas y a justo del cliente somos fabricantes directos.</br>
						                </p>
              						</section>
                				</div>
          					</li>
              				<li class="span4">
            					<div class="thumbnail thumbnail-1"> 
            						<%= image_tag("http://reparacionelectrodomesticos.enbogota.net/images/reparaciones-electrodomesticos-2.jpg", :class => "divCategoriaservice" ) %>
                  					<section> 
                  						<a href="#" class="link-1">
                  							Venta de electrodomesticos 
                  						</a>
                						<p class="textCategoriaservice">
											Venta de electrodomesticos: camas, ventilador, DVD, mp3, Mp4, 
											Computadores, Portatiles, Usb, Neveras, Estufas,planchas, 
                						</p>
              						</section>
                				</div>
          					</li>
              				<li class="span4">
            					<div class="thumbnail thumbnail-1"> 
            						<%= image_tag("http://www.falabella.com.co/static/site/catalog/VC-todoTecnologia-161210.jpg", :class => "divCategoriaservice" ) %>
                  					<section> 
                  						<a href="#" class="link-1">
                  							Tecnologia
                  						</a>
                						<p class="textCategoriaservice">
                							Vendemos desde los portatiles de ultima de ultima tecnologia hasta el mas modico y 
                							adaptable de los portatiles para tu bolsillo
                						</p>
              						</section>
                				</div>
          					</li>
              				<li class="span4">
            					<div class="thumbnail thumbnail-1"> 
            						<%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/s720x720/398432_124746054314763_1350814508_n.jpg", :class => "divCategoriaservice" ) %>
                  					<section> 
                  						<a href="#" class="link-1">
                  							Almacen Bicicletas  
                  						</a>
                						<p class="textCategoriaservice">
											Bicicleta GW con marco y accesorios en aluminio, cambios, aros triple pared rhin nº 20. 
											color: blanco con azul.
											a tan solo $ 450.000
                						</p>
              						</section>
                				</div>
          					</li>
              				<li class="span4">
	            				<div class="thumbnail thumbnail-1 "> 
	            					<%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/s720x720/426293_124746647648037_471764540_n.jpg", :class => "divCategoriaservice" ) %>
	                  				<section> 
	                  					<a href="#" class="link-1">
	                  						Taller Bicicletas 
	                  					</a>
	                					<p class="textCategoriaservice">
											En almacen y taller ciclovia usted encuentra todo lo relacionado
											con repuestos y accesorio para becicleta de todo tipo...
	                					</p>
	              					</section>
	                			</div>
          					</li>
            			</ul>
      				</div>
        		</div>
  			</div>
    	</div>
	</body>
</html>