<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Detalles Producto</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
  			<%= stylesheet_link_tag 'touchTouch.css' %>
  			<%= stylesheet_link_tag 'file.css' %>
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<%= stylesheet_link_tag 'kwicks-slider.css' %>
		<% end %>
		<%= content_for :extra_js do %>
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
	</head>
	<div class="bg-content">       
<!--============================== content =================================-->      
		<div id="content">
			<div class="ic">
			</div>
	    	<div class="container">
	        	<div class="row">
	        		<article class="span12">
	        			<h1 style="color: #E85356;"><%=@products.name.capitalize%></h1>
	         		</article>
	        		<div class="clear"></div>
	         		<div class="row">
						<div class="span5 offset1" align="center">
							
							
							
							
							
							
							<% if @images.count > 1 %>
								<div class="flexslider">
    	      						<ul class="slides">
							    	    <% @images.each do |image| %>
            	    						<li>                
                	  							<%= image_tag(image.route) %>
							                </li>
          								<% end %>
					        	  </ul>
            					</div>
        						<!--<span id="responsiveFlag"></span>-->
							<% end %>
							<% if @images.count < 2 %>
								<% @images.each do |image| %>               
                	  				<%= image_tag(image.route) %>
							     <% end %>
	        				<% end %>
							<br>
							<b style="text-align: center; color: #E85356; font-size:40px;"><%= number_to_currency(@inventories.vale_sale)%></b>
						</div>
						<div class="span6">
							<h5 style="color: #E85356; font-size:20px;">Garantia:</h5> <b style="color: white; font-size:15px;"><%=@inventories.warranty%> Meses</b>
							<h5 style="color: #E85356; font-size:20px;">Marca:</h5> <b style="color: white; font-size:15px;"><%=@brand.name%></b>
							<h5 style="color: #E85356; font-size:20px;">Cantidad:</h5> <b style="color: white; font-size:15px;"><%=@products.amount%> Unidades</b>
							<h5 style="color: #E85356; font-size:20px;">Descripcion:</h5> <b style="color: white; font-size:15px;"><%=@products.description%></b>
						</div>
	      			</div>
	        	</div>
	  		</div>
		</div>
	</div>

