<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Detalles Producto</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="author" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'styles_view_product.css' %>
  			<%= stylesheet_link_tag 'bootstrap.css' %>
  			<%= stylesheet_link_tag 'responsive.css' %>  
  			<%= stylesheet_link_tag 'style.css' %>
  			<%= stylesheet_link_tag 'touchTouch.css' %>
  			<%= stylesheet_link_tag 'file.css' %>
  			<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
			<!--
				<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
				<link rel="stylesheet" href="css/touchTouch.css" type="text/css" media="screen">
				<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
		<% end %>
		<%= image_tag("/assets/favicon.ico" ) %>
		<!--[if lt IE 8]>
		  	<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
		 	<![endif]-->
			<!--[if (gt IE 9)|!(IE)]><!-->
			<!--<![endif]-->
			<!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	  	<![endif]-->
	</head>
	<div class="bg-content">       
<!--============================== content =================================-->      
		<div id="content">
			<div class="ic">
			</div>
	    	<div class="container">
	        	<div class="row">
	        		<article class="span12">
	        			<h1 style="color: #E85356;"><%=@products.name.capitalize%></h1>
	         		</article>
	        		<div class="clear"></div>
	         		<div class="row">
						<div class="span5 offset1" align="center">
							<%#= image_tag(@products.images.route)%>
							<%# @images.each do |image| %>
								<%= image_tag(@images.route)%>
								<br>
							<b style="text-align: center; color: #E85356; font-size:40px;"><%= number_to_currency(@inventories.vale_sale)%></b>
							<%# end %>
						</div>
						<div class="span6">
							<h5 style="color: #E85356; font-size:20px;">Garantia:</h5> <b style="color: white; font-size:15px;"><%=@inventories.warranty%> Meses</b>
							<h5 style="color: #E85356; font-size:20px;">Marca:</h5> <b style="color: white; font-size:15px;"><%=@brand.name%></b>
							<h5 style="color: #E85356; font-size:20px;">Cantidad:</h5> <b style="color: white; font-size:15px;"><%=@products.amount%> Unidades</b>
							<h5 style="color: #E85356; font-size:20px;">Descripcion:</h5> <b style="color: white; font-size:15px;"><%=@products.description%></b>
						</div>
	      			</div>
	        	</div>
	  		</div>
		</div>

