<%
%>

<html>
<head>
  <%= javascript_include_tag 'jquery-1.9.1.js' %>
  <%= javascript_include_tag 'jquery-barcode.js' %>
  <%= javascript_include_tag 'admin_barcodes.js' %>
 
  <%#= javascript_include_tag 'http://github.com/malsup/media/raw/master/jquery.media.js?v0.92' %>
  <%#= javascript_include_tag 'http://jquery.malsup.com/jquery.metadata.js' %>

        <script>

        </script>

<style type="text/css" media="print">
/*@media print and (orientation: landscape) {*/
    /* landscape styles */
/*}*/


  /*@media print{@page {size: landscape}};*/
  /*table {page-break-after:always}*/

@media print
{
table {page-break-inside:avoid}
/*@page {size: landscape}*/
}

</style>        
</head>

<!-- <body onload="load()"> -->
<body onload="">

<input type="button" value="Imprimir C&oacute;digos" onclick="window.print();" />
<!-- <p>Intro text&hellip;<span class="print">print</span></p> -->

<br/>
<br/>
<%#= link_to "Descargar", impresion_admin_inventories_path() %>
<%#= link_to "Descargar", impresion_admin_inventory_path() %>


<%
	 	
      @codigos.each do |registro|

%>



<table id="tablaCodes" style="width: 230px;border: 3px;border-style: dashed; text-align: center; float:left; margin:5px; font-size: 0.9em !important;" class="normal" summary="Tabla genérica">
<tr>
<td><B>Nombre:</B></td><td scope="col"><%= registro.product.name %></td></tr>
<tr><td><B>Marca:</B></td><td scope="col"><%= registro.product.brand.name %></td></tr>
<tr><td><B>Serial:</B></td><td scope="col"><%= registro.serial %></td></tr>
<tr style="display:none;"><td><B>C&oacute;digo Barra:</B></td><td class="value_code" id="value_code" scope="col"><%= registro.barcode %></td></tr>
<tr><td><B>C&oacute;digo Barra:</B></td><td scope="col"><div class = "barcode" id="bcTarget"></div></td></tr>

</table>

<% end %>
<!-- <h1>Hello World!</h1> -->
</body>
</html>