<!DOCTYPE html>
<html>
<head>
  <title>Cmelendez</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<!--JS Especificos desde el controlador-->
	<%= javascript_include_tag '' %>
	<%= yield :extra_js %>

	<!--CSS Especificos desde el controlador-->
	<%= stylesheet_link_tag %>
	<%= yield :extra_css %>

	<!--JS Generales-->

</head>
<body>
<!--============================== header =================================-->

  
	<%= yield %>

<!--============================== footer =================================-->
	<footer>
    	<div class="container clearfix">

    		<div class="privacy pull-left">
    			Créditos Melendez | Desarrollado por  
    			<a href="http://www.pactelingenieria.com/" target="_blank" rel="nofollow">Pactel</a> 
    		</div>
		</div>
    </footer>


</body>
</html>
